.projects {
  min-height: 400px;
  background-color: var(--dkblue);
  display: flex;
  flex-flow: row wrap;
  padding: 45px 20px;
}

.projectContainer {
  text-align: left;
}

.projectHeading {
  display: block;
  font-style: var(--mono);
  font-size: 40px;
  color: var(--white);
  margin-bottom: 45px;
}

.link {
  display: inline-block;
  color: var(--magenta);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 850px) {
  .projectContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
