.button {
  display: block;
  background-color: var(--magenta);
  color: white;
  width: 85px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-family: var(--mono);
  font-size: 17px;
  text-align: center;
  padding-top: 9px;
}

.button:hover {
  background-color: var(--hotmag);
  color: white;
}

.buttonLG {
  width: 120px;
  height: 45px;
}
