.projectLayout {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-bottom: 40px;
}

.textInfo {
  text-align: left;
}

.projectInfo {
  font-style: var(--sans);
  font-size: 18px;
  color: var(--white);
  margin: 0;
  line-height: 1;
}

.projectName {
  font-style: var(--mono);
  color: var(--aqua);
  font-size: 25px;
  margin: 0;
}

article {
  background-color: var(--black);
  border-radius: 10px;
  color: var(--white);
  font-style: var(--mono);
  margin: 15px 0;
  line-height: 1.4;
  padding: 8px 10px;
  font-size: 14px;
}

.tags {
  color: var(--white);
  font-family: var(--mono);
  margin: 0;
}

.videoContainer {
  border-top: solid 1px var(--aqua);
  border-left: solid 1px var(--aqua);
  border-radius: 25px;
  padding: 12px;
  margin: 20px 0 40px 0;
}

video {
  width: 100%;
  border-radius: 25px;
}

@media (min-width: 960px) {
  .projectLayout {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .videoContainer {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .textInfo {
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
  }
  .reverseText {
    grid-column: 1/7;
    text-align: left;
  }
  .reverseMedia {
    grid-column: 6/11;
  }
}

@media (min-width: 850px) {
  .projectLayout {
    max-width: 1200px;
    margin: 0 auto;
  }
}
