.footer {
  display: flex;
  background-color: var(--black);
  color: var(--white);
  height: 325px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footerIcons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footerIcon {
  font-size: 300%;
  color: var(--magenta);
  display: block;
}

.footerIcon:hover {
  color: var(--hotmag);
}
